.Shop-Body {
  height: auto;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Left-Side */
.Shop-Left {
  width: 25%;
  margin-left: 2.5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.Shop-Search-Div {
  height: 50px;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.Shop-Input {
  height: 50px;
  width: 70%;
  border: 1px solid rgb(171, 171, 171);
  outline: none;
  padding: 20px;
}
.Shop-Input::placeholder {
  font-style: italic;
  font-size: 18px;
}
.Shop-Search-Button {
  width: 30%;
  height: 50px;
  background-color: rgb(27, 180, 129);
  border: 1px solid rgb(27, 180, 129);
  color: #fff;
}
.Shop-Search-Text {
  font-size: 20px;
}

.Shop-Left-Text {
  font-size: 25px;
  font-weight: 600;
  opacity: 0.7;
  margin-top: 20px;
  margin-bottom: 10px;
}
.Shop-Left-Div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Shop-Left-Button {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.Shop-Left-Text2 {
  color: rgb(27, 180, 129);
  font-size: 20px;
}
.Shop-Left-Text3 {
  opacity: 0.7;
}

/* Right-Side */
.Shop-Right {
  height: 1000px;
  width: 70%;
  border-left: 1px solid rgb(184, 183, 183);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.Shop-RightBox {
  width: 95%;
  margin-left: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.Shop-Right-Text{
    font-size: 90px;
    color: rgb(27, 180, 129);
    font-family: 'Franklin Gothic Medium';
    font-weight: 600;
}
.Shop-Right-Div{
    margin-top: 50px;
}
