.box {
  height: 100vh;
  overflow-y: auto;
}

.box-header {
  background-color: lightblue;
  padding: 20px;
}

.box-body {
  height: 2000px;
  padding: 20px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: lightblue;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.back-to-top:hover {
  background-color: lightgreen;
}
.box-Button{
    position: absolute;
    background-color: aqua;
    margin-top: 95vh;
}