.Products-Body {
  height: 400px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}
.Products-Per-Div {
  position: absolute;
  margin-left: -8%;
  background-color: rgb(27, 180, 129);
  padding: 2px;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
}
.Products-Per-Div2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  display: none;
  margin-top: 40px;
  margin-right: 10px;
}

.Products-Body:hover .Products-Per-Div2 {
  display: block;
}

.Products-Button {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.Products-Icon {
  font-size: 22px;
  opacity: 0.7;
}

.Products-Img {
  height: 300px;
}
.Products-Div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart-item__rating {
  color: #f7d417;
  font-size: 1rem;
}

.cart-item__star {
  margin-right: 3px;
}
.Products-Text1 {
  font-size: 20px;
  color: rgb(27, 180, 129);
}
.Products-Text2 {
  font-size: 18px;
  text-decoration: line-through;
  opacity: 0.5;
}
.Products-Text3 {
  font-size: 18px;
  margin-left: 10px;
}
.Products-Drawer-Box {
  width: 80%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Products-Drawer-Left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Products-Drawer-Right {
  height: 50vh;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.Products-Drawer-Img {
  height: 55vh;
}
.Products-Drawer-Text1 {
  font-size: 35px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium";
  color: rgb(27, 180, 129);
}
.Products-Drawer-Text2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.Products-Drawer-LineDiv {
  height: 1px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  margin-top: 5px;
  margin-bottom: 10px;
}
.Products-Drawer-Text3 {
  font-size: 20px;
  margin-top: 15px;
  opacity: 0.7;
}
.Products-Drawer-Icon {
  font-size: 16px;
  font-weight: 700;
  color: rgb(27, 180, 129);
}
.Products-Drawer-Text4 {
  font-size: 18px;
  font-weight: 600;
  opacity: 0.6;
  margin-left: 5px;
}
.Products-Drawer-Div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 130px;
  opacity: 0.7;
  border: 1px solid black;
  border-radius: 3px;
}
.Products-Drawer-Icon2 {
  font-size: 22px;
  cursor: pointer;
}
.Products-Drawer-Text5 {
  font-size: 22px;
}
.Products-Drawer-Button {
  height: 40px;
  width: 130px;
  background-color: rgb(27, 180, 129);
  border-radius: 3px;
  margin-left: 30px;
  color: #fff;
  border: 1px solid rgb(27, 180, 129);
}
.Products-Drawer-Button:hover {
  background-color: #fff;
  color: rgb(27, 180, 129);
}
.Products-Drawer-Text6 {
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .Products-Body {
    height: 210px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  }
  .Products-Img {
    height: 200px;
    width: 50%;
    margin-top: 5px;
    margin-left: 2%;
    border-radius: 10px;
  }
  .Products-Div {
    width: 48%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Products-Per-Div {
    margin-left: 10px;
    margin-top: 10px;
  }
  .Products-Per-Div2 {
    display: block;
    margin-top: 150px;
    margin-left: 10px;
  }
  .Products-Per-Div3{
    display: none;
  }
  
}
