.Header-Body {
  background-color: transparent;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(27, 180, 129);
  border-bottom: 1px solid rgb(194, 194, 194);
}
.Header-box1 {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}
.Header-box2 {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}
.Header-Link {
  margin-left: 10px;
}
.Header-Text {
  font-size: 20px;
  font-weight: 500;
  font-family: "Segoe UI";
}
.Header-Icon {
  font-size: 35px;
}
.Header-Icon-div {
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 7.5px;
  margin-top: -50px;
  margin-left: 30px;
  background-color: rgb(27, 180, 129);
  color: #fff;
}
.Header-Icon-Text {
  font-size: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  height: 170px;
  width: 250px;
  position: absolute;
  z-index: 1;
  margin-top: 220px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.headerBox-2-Icon2 {
  display: none;
  margin-top: 5px;
}
.headerBox-2-Icon {
  display: block;
  margin-top: 5px;
}

.dropdown:hover .headerBox-2-Icon2 {
  display: block;
}
.dropdown:hover .headerBox-2-Icon {
  display: none;
}
.dropdown-content-Link {
  height: 40px;
  width: 100%;
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  text-decoration: none;
}
.dropdown-content-Link:hover {
  border: 0.5px solid rgb(27, 180, 129);
}
